body {
  background: #010001;
  color: #fff;
  padding-top: 53px;
  font-family: 'Roboto', sans-serif;
}
.header {
  max-width: 1230px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.item-link {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 14px;
}
.secondary-nav .item-link {
  color: #808080;
}
.secondary-nav .item:last-child .item-link {
  margin-right: 0;
}
.main {
  text-align: center;
  padding-top: 120px;
  margin: auto;
}
.title {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  margin-top: 0;
  margin-bottom: 26px;
}
.description {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  max-width: 268px;
  margin: auto;
  text-transform: lowercase;
}
.description:after {
  content: '';
  display: block;
  width: 1px;
  height: 59px;
  background-color: #fff;
  margin: auto;
  margin-top: 26px;
}
.video {
  height: 750px;
  max-width: 1230px;
  width: 90%;
  margin: auto;
}
.features {
  position: relative;
  max-width: 1230px;
  width: 90%;
  margin: auto;
  padding: 100px 0;
}
.features-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.table {
  margin-bottom: 200px;
}
.table-column {
  font-weight: normal;
  font-size: 18px;
  line-height: 179.69%;
  width: 300px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.add {
  color: #B2B0B2;
}
.features-text {
  max-width: 490px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
}
.rocket {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 99;
}